__pycache__/
*.pyc
*.py[cod]
*.class
.DS_Store
.idea/
.log
.ipynb_checkpoints/


data/*
!data/processed/
data/processed/*
!data/evaluation/
data/evaluation/*
!data/sample/
!data/external/
config/local/*
!.gitkeep