<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <link href="static/basic.css" rel="stylesheet"> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">Hello world.</div>

    <h3>
      <a href="{{ url_for('index') }}">Penny Lane Music Recommender</a>
    </h3>

    <hr />

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Artist</th>
          <th>Album</th>
        </tr>
      </thead>

      <tbody>
        {% for track in tracks %}
        <tr>
          <td>{{ track.title }}</td>
          <td>{{ track.artist }}</td>
          <td>{{ track.album }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <label for="dog-names">Choose a dog name:</label>
    <select name="dog-names" id="dog-names">
      <option value="rigatoni">Rigatoni</option>
      <option value="dave">Dave</option>
      <option value="pumpernickel">Pumpernickel</option>
      <option value="reeses">Reeses</option>
    </select>

    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
        <input type="text" size="15" name="title" placeholder="Title" />
        <input type="text" size="15" name="artist" placeholder="Artist" />
        <input type="text" size="15" name="album" placeholder="Album" />
        <input type="submit" value="Add" />
      </dl>
    </form>

    <div class="form-group">
      <select class="form-control" name="sec_questions">
        <option>Make</option>
        {% for track in tracks %}
        <option>{{track.title}}</option>
        {% endfor %}
        <!-- <option>What is your mother's maiden name?</option>
          <option>What is your pet's name?</option>
          <option>What street did you grow up on?</option>
          <option>Where did you go in elementary school?</option>
          <option>Who was your first employer?</option> -->
      </select>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
